* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway';
    box-sizing: border-box;
}


#directory {
	margin-top: 7.5%;
	text-align: center;
	list-style-type: none;
	font-size: 1.5em;
}
#directory li {
	padding: 5px 0 7px 0;
}
#directory li:hover {
	background-color: rgba(255, 255, 255, 0.1);
	font-weight: bold;
}


#directory a:visited {
	color: black;
	text-decoration: none;
}
#directory a:link {
	color: black;
	text-decoration: none;
}


#iconContainer {
	position: fixed;
	bottom: 20px;
}
.mediaIcon {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 15px 10px -10px 10px;
	background-size: cover;
}
.github {
	background-image: url("media/github.png");
}
.linkedin {
	background-image: url("media/linkedin.png");
}
.resume {
	background-image: url("media/resume.png");
}


.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
ul.checklist {
	display: table;
	list-style: none;
	width: 75%;
	margin: 25px 0;
}
ul.checklist > li {
	display: table-row;
}
ul.checklist > li:before {
	color: green;
	content: "\2714\00a0 \00a0 ";
	display: table-cell;
	text-align: right;
	width: 1.3em;
}


a:link, a:visited {
	color: rgb(50, 125, 175);
}
a:hover {
	color: rgb(0, 75,  125);
}