* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway';
    box-sizing: border-box;
}
body {
	background-color: rgb(215, 215, 215);
}
h3 span {
	border-bottom: 1px solid black;
}


/* BANNER */
#banner {
	background: rgb(30, 60, 140);
	text-align: left;
	
	width: 100%;
	position: fixed; left: 0; top: 0;
	padding: 10px;
	font-size: 1.25em;
	
	color: white;
	z-index: 1;
	visibility: hidden;
	
	box-shadow: 0px 0px 10px rgba(20, 78, 99, 0.5);
}



/* HEADER */
#headerCanvas {
	pointer-events: none;
	background: rgb(30, 60, 140);
	background-image: linear-gradient(black, rgb(30, 60, 140));
	background-image: radial-gradient(circle at 50% 100% , rgb(30, 60, 140) 0%, #000 80%);
	position: fixed; left: 0; top: 0;
}
header {
	-webkit-touch-callout: none;
	-webkit-user-select: none;  
	-khtml-user-select: none;   
	-moz-user-select: none;     
	-ms-user-select: none;    
	pointer-events: none;  

	color: white;
    text-shadow: 0 0 1em black, 0 0 1.5em black, 0 0 2em rgb(15, 30, 70);
	padding: 125px 0 25px 0;
	width: 100%; 
	height: 225px;
	text-align: center;
	position: fixed; left: 0; top: 0;
	display: block;
}
header p {
	font-size: 2.5em;
	margin-bottom: 10px;
}
header h2 {
	margin-bottom: 30px;
}
header a img {
	margin-top: 25px; margin-right: 25px;
}



/* MAIN CONTENT PANEL */
article {
	background: white; /*linear-gradient(to bottom, #FFFFFF 0%,#F1F1F1 51%,#E1E1E1 100%,#F6F6F6 100%);*/
	padding: 25px;
	overflow: hidden;
	width: 100%;
	margin: auto;
	margin-top: 325px;
	box-shadow: 0 0 50px rgb(185, 185, 185);
}
article hr {
	margin-bottom: 20px;
}



/* IMAGE GALLERY */
#prevImgButton, #nextImgButton {
	position: absolute;
	top: 250px;
	width: 65px;
	height: 65px;
	background: rgba(250, 250, 250, 0.8);
	border: 1px solid rgb(175, 175, 175);
	border-radius: 50%;
	font-size: 2.5em;
	cursor: pointer;
	text-align: center;
}
#nextImgButton {
	right: 50%;
	right: calc(50% + 5px);
}
p#galleryCaption {
	width: 300px;
	margin: auto;
	padding-left: 30px;
	text-align: left;
}
figure.gallery figcaption{
	padding: 5px; margin-top: -5px;
	border: 1px solid rgb(175, 175, 175);
	background-color: rgb(220, 220, 220);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}



/* PROJECTS LISTING */
/* Main container */
.container {
	width: 65%;
	margin: auto;
}
/* Tabs */
.projButton {
	width: 33.0%;
	position: relative;
	overflow: hidden;
	margin: 0;
	float: left;
}
.projButton:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.projButton h2 {
	pointer-events: none;
	font-size: 1.25em;
	padding: 10px;
}
.buttonContent {
	pointer-events: none;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.projButton p {
	pointer-events: none;
	font-size: 1.1em;
	margin: 10px;
}
.expandedContent {
	overflow: hidden;
	max-height: 40px;
	background-color: rgba(255, 255, 255, 0.85);
	transition: max-height 1s;
}
.projButton:hover .expandedContent {
	max-height: 100%;
}
.overlay {
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
}
.projButton:hover .overlay {
	opacity: 0.5;
}

/* Main tab */
h2.heading {
	text-align: center;
	font-size: 2.5em;
	font-weight: 300;
	color: rgb(30, 60, 140);
	padding-bottom: 10px;
}
#aboutMe {
	background-color: white;
	border-bottom: none;
	width: 100%;
	margin-bottom: 50px;
}
#aboutMe:before {
	padding-top: 0;
}
#aboutMe h4, p, img {
	display: block;
}
#aboutMe img {
	width: 15%;
	height: auto;
}
#aboutMe img {
	position: absolute;
}
#aboutMe h3 {
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(200, 200, 200);
}
.aboutSection {
	width: 33%;
	float: left;
}
.aboutSection p {
	padding-right: 20px;
	margin-left: 0;
}
.aboutContact p {
	clear: both;
	margin-top: 85px;
}
.myIcon {
	float: left;
	display: inline-block;
	text-indent: -100em;
	margin-right: 15px;
	width: 50px;
	height: 50px;
	background-size: cover;
}
.github {
	background-image: url("media/github.png");
}
.linkedin {
	background-image: url("media/linkedin.png");
}
.resume {
	background-image: url("media/resume.png");
}



/* PROJECT INFO PANE */
#projInfo {
	width: 90%;
	max-height: 80%;
	margin-right: 10px;
	overflow-y: scroll;
	padding: 35px;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	
	position: fixed;
	display: none;
	top: 10%;
	left: 5%;
}
#escape {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 1.75em;
	font-weight: bold;
	color: rgb(30, 60, 140);
}
#escape:hover {
	cursor: pointer;
}
.projMedia {
	width: 50%;
	height: auto;
	float: left;
}
.projMedia h1 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 20px;
}
.projMedia h2 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 10px;
}
.projMedia img, .projMedia video {
	display: block;
	width: auto;
	max-width: 90%;
	height: auto;
	margin: auto;
}
.projDescription {
	border-left: 1px solid lightgray;
	padding-left: 2.5%;
	float: right;
	width: 50%;
}
.projDescription h3 {
	margin-bottom: 5px;
	border-bottom: 1px solid rgb(200, 200, 200);
}
.projDescription ul {
	margin-left: 25px;
}
#projInfo h2 a {
	background: rgb(150, 150, 150);
	box-shadow: inset 0 0 10px rgb(100, 100, 100);
	padding: 5px;
	border-radius: 5px;
	color: white;
	margin: 0 5px 0 5px;
}


#globalOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: black;
	opacity: 0;
}
#globalOverlay[data-noPointer=true] {
	pointer-events: none;
}
#globalGradient {
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%, rgba(0,0,0,0.25) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,0.25) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,0.25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#40000000',GradientType=1 );
}



/* CLASSES */
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.home {
	margin-top: -75px;
	padding: 5px; 
}



/* ANCHORS */
a:link, a:visited {
	color: rgb(45, 80, 160);
	font-weight: bold;
	text-decoration: none;
}



/* MEDIA QUERY */
@media all and (max-width: 800px)
{
	article {
		width: 100%;
	}
	
	.projButton h2 {
		font-size: 1em;
	}
	
	.expandedContent, .projButton:hover .expandedContent {
		max-height: 35px;
	}
	
	#aboutMe img {
		display: none;
	}
	
	.aboutLife, .aboutPassions {
		display: none;
	}
	
	.aboutMeDescriptions {
		width: 100%;
		height: auto;
	}
	
	.container {
		width: 100%;
	}
	
	#globalGradient {
		display: none;
	}
	
	.projMedia {
		width: 100%;
		float: none;
	}
	.projDescription {
		border-left: none;
		margin-top: 30px;
		float: none;
		width: 100%;
	}
}