html, body {
	height: 100%;
}
body {
	background: rgb(250, 250, 250);
	display: flex;
}


#backgroundDisplay {
	background-color: rgb(125, 200, 250);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -999;
}


#mainSidebar {
	flex: 1;
	padding: 90px 20px;
}
#mainSidebar h1, #mainSidebar h3 {
	text-align: left;
}
#mainSidebar h1 {
	color: rgb(37, 75, 100);
	font-size: 2.5em;
}
#mainSidebar h3 {
	color: rgb(50, 50, 50);
	font-size: 1.5em;
}


#directory li {
	text-align: left;
}


#mainContent {
	flex: 4;
	border-left: 1px solid gray;
	background-color: rgb(250, 250, 250);
}
#pageTitle {
	height: 65px;
	background-color: rgb(240, 240, 240);
}
#pageTitle h1 {
	padding: 25px 0 10px 25px;
}



.aboutMe .floatLeft {
	margin: 0 30px 10px 0;
}
.aboutMe .floatRight {
	margin: 0 0 10px 20px;
}
.aboutMe ul {
	position: relative;
	top: 15px;
	left: 30px;
}
.aboutMe {
	overflow: auto;
	position: relative;
	width: 50%;
	height: calc(100% - 65px);
	font-size: 1.2em;
	padding: 2.5rem;
}
.projectContainer {
	padding: 30px;
	max-height: calc(100% - 65px);
	overflow: auto;
}
.projButton {
	width: 20.0%;
	position: relative;
	overflow: hidden;
	background-color: white;
	float: left;
}
.projButton:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.projButton h2 {
	background-color: rgb(240, 240, 240);
	pointer-events: none;
	font-size: 1.25em;
	padding: 10px 10px 0 10px;
}
.projButton h4 {
	background-color: rgb(240, 240, 240);
	padding: 10px;
	color: gray;
}
.buttonContent {
	pointer-events: none;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.projButton p {
	pointer-events: none;
	font-size: 1.1em;
	margin: 10px;
}
.expandedContent {
	overflow: hidden;
	max-height: 0;
	background-color: white;
	transition: max-height 1s;
}
.projButton:hover .expandedContent {
	max-height: 100%;
}
.overlay {
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
}
.projButton:hover .overlay {
	opacity: 0.5;
}


.projMedia {
	float: left;
	width: 50%;
	position: relative;
	top: 30px;
}
.projDescription {
	float: right;
	width: 50%;
}
.projDescription h1 {
	font-size: 2em;
	margin: 25px 0;
}
.galleria[data-maxImg="1"] {
	cursor: default;
}
.galleria, .projVid, .projMedia img {
	display: block;
	margin: auto;
	width: 90%;
}
#prevImgButton, #nextImgButton {
	display: none;
	width: 60px;
	height: 60px;
	float: left;
	position: relative;
	background: rgba(250, 250, 250, 0.8);
	border: 1px solid rgb(175, 175, 175);
	border-radius: 50%;
	font-size: 2.5em;
	cursor: pointer;
	text-align: center;
}
#nextImgButton {
	right: 0;
}
#escape {
	background-color: rgb(75, 150, 200);
	color: white;
	font-size: 1.25em;
	margin: auto;
	margin-bottom: 25px;
	padding: 8px;
	text-align: center;
	width: 80%;
}
#escape:hover {
	background-color: rgb(60, 135, 185);
	cursor: pointer;
}
h2 a {
	width: 30%;
	text-align: center;
	background-color: rgb(230, 230, 230);
	border-radius: 5px;
	padding: 10px;
}
h2 a:hover {
	background-color: rgb(215, 215, 215);
}
h2 a:first-child {
	margin: -10px 2.5% 15px 17.5%;
	display: inline-block;
}
h2 a:only-child {
	margin: -10px 2.5% 15px 25%;
	display: inline-block;
	width: 50%;
}



.workExperience li {
	margin-left: 30px;
}
.workExperience {
	margin-bottom: 25px;
}


.flexContent {
	display: flex;
	height: calc(100% - 65px);
}
.column {
	height: 100%;
	flex: 1;
	padding: 0 1.5rem;
	overflow: auto;
}
.column:not(:last-child) {
	border-right: 1px solid gray;
}
.column > h3 {
	margin: 1.5rem 0 1rem 0;
}
.column > p {
	margin-top: 1rem;
}
