body {
	background: rgb(250, 250, 250);
}


#backgroundDisplay {
	background-color: rgb(125, 200, 250);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -999;
}


#mainSidebar {
	position: fixed;
	float: left;
	width: 20%;
	height: 100%;
	padding: 90px 0;
	text-align: center;
}
#mainSidebar h1, #mainSidebar h3 {
	margin: 0 0 0 25px;
	text-align: left;
}
#mainSidebar h1 {
	color: rgb(37, 75, 100);
	font-size: 2.5em;
}
#mainSidebar h3 {
	color: rgb(50, 50, 50);
	font-size: 1.5em;
}


#directory li {
	padding-left: 25px;
	text-align: left;
}


#mainContent {
	float: right;
	width: 80%;
}
#pageTitle {
	position: fixed;
	width: 100%;
	background-color: rgb(240, 240, 240);
}
#pageTitle h1 {
	padding: 25px 0 10px 25px;
}



.projectContainer {
	margin: 30px;
	margin-top: 95px;
}
.projButton {
	width: 20.0%;
	position: relative;
	overflow: hidden;
	background-color: white;
	float: left;
}
.projButton:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.projButton h2 {
	background-color: rgb(240, 240, 240);
	pointer-events: none;
	font-size: 1.25em;
	padding: 10px 10px 0 10px;
}
.projButton h4 {
	background-color: rgb(240, 240, 240);
	padding: 10px;
	color: gray;
}
.buttonContent {
	pointer-events: none;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.projButton p {
	pointer-events: none;
	font-size: 1.1em;
	margin: 10px;
}
.expandedContent {
	overflow: hidden;
	max-height: 0;
	background-color: white;
	transition: max-height 1s;
}
.projButton:hover .expandedContent {
	max-height: 100%;
}
.overlay {
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
}
.projButton:hover .overlay {
	opacity: 0.5;
}


#gallery {
	float: left;
	margin: 0 25px 25px 0;
}
#prevImgButton, #nextImgButton {
	top: 50%;
	width: 60px;
	height: 60px;
	background: rgba(250, 250, 250, 0.8);
	border: 1px solid rgb(175, 175, 175);
	border-radius: 50%;
	font-size: 2.5em;
	cursor: pointer;
	text-align: center;
}
#nextImgButton {
	right: 0;
}